<% if @recipe.errors.any? %>
  <h2>There were errors saving your recipe</h2>
  <ul>
    <% @recipe.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>


<div class="half">

  <%= form_for @recipe do |f| %>
    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :type %>
      <%= f.select :type, [['Appetizer','appetizer'],['Entree','entree'],['Dessert','dessert'],['Drink','drink']] %>
    </div>
    <div class="field">
      <%= f.label 'Description' %>
      <%= f.text_field :desc %>
    </div>
    <div class="field">
      <%= f.label :photo_url %>
      <%= f.text_field :photo_url %>
    </div>
    <div class="field">
      <%= f.label :site_url %>
      <%= f.text_field :site_url %>
    </div>
    <br/>
    <%= f.submit %>
  <% end %>

</div>